body{
    background: $header-background;
}
.gallery{
    .item {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        grid-row-end: span 1;
        grid-column-end: span 1;
        border-radius: 5px;
        
        div{
            position: relative;
            bottom: 0px;
            display: flex;
            font-size: 1.4rem;
            font-weight: bolder;
            input{
                border-radius: 5px;
                width: 50%;
                outline: none;
                border: none;
                color:white;
                background: none;
                padding: .5rem 0rem;
                margin: 1rem;
                box-shadow: 0 3px .5rem rgba(0,0,0,0.7);
            }
            input:nth-child(1){
               display: none !important;
            }
            input:nth-child(2){
                display: none !important;
            }
        }
    }
}

.site-images{
    // background: $header-background;
    @extend %centralize;
    align-items: unset;
    margin-top: 5.1rem;

    height: fit-content;

    padding-left: 3rem;
    padding-right: 3rem;

    .wrapper{
        width: 100rem;
        height: fit-content;
    }

    section:nth-child(1){
        // background: $add-image-section-background;
        height: 15rem;
        width: 100%;
        position: relative;
        z-index: 2;

        @extend %centralize;
        justify-content: space-evenly;

        & > *{
            outline: none;
            border: none;
            font-size: 2rem;
            width: 40%;
            padding: 1rem 2rem;
        }

        #image-url,
        #add-image-button{
            background: rgb(240,240,240);
            border-radius: 10px;
            box-shadow: 0 2px .3rem rgba(0,0,0,0.3);
        }
        #add-image-button{
            background: rgba(45, 139, 45, 0.911);
            color: rgba(255, 255, 255, 0.856);
            font-weight: bolder;
        }
    }
    #white-background{
        background: $add-image-section-background;
        position: absolute;
        width: 100%;
        height: 15rem;
    }
    section:nth-child(2){
        margin-top: 3rem;
        margin-bottom: 3rem;
        @supports(display: grid) {
            display: block;
        }

        .grid {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
            grid-auto-rows: 150px;
            grid-auto-flow: row dense;
        }
        .item {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            grid-row-end: span 1;
            grid-column-end: span 1;
            border-radius: 5px;
            
            div{
                position: relative;
                bottom: 0px;
                display: flex;
                font-size: 1.4rem;
                font-weight: bolder;
                input,
                button{
                    border-radius: 5px;
                    width: 50%;
                    outline: none;
                    border: none;
                    color:white;
                    background: none;
                    padding: .5rem 0rem;
                    margin: 1rem;
                    box-shadow: 0 3px .5rem rgba(0,0,0,0.7);
                }
                input:nth-child(1){
                    background: rgb(75, 75, 192);
                }
                input:nth-child(2){
                    background: rgb(202, 34, 34);
                }
            }
        }
        .portrait {
            grid-row-end: span 3;
        }
        .landscape {
            grid-column-end: auto;
        }
    }

    @include respond(620px) {
        section:nth-child(1){
            flex-direction: column !important;
            padding-top: 2rem !important;
            padding-bottom: 1rem !important;
            
            input{
                width: 80%;
                font-size: 1.4rem !important;
            }
        }
    }
}