.site-navigation{
    background: $nav-background;
    color: $nav-color;
    @extend %centralize;
    height: 5.1rem;
    width: 100vw;
    position: fixed;
    z-index: 3;
    top: 0%;
    font-size: 16px;
    font-weight: bolder;
    .user-name{
        position: fixed;
        text-decoration: underline;
    }
    .wrapper{
        @extend %centralize;
        justify-content: space-between;
        padding: 1.3rem 4rem;
    }
    .site-branding{
        padding-bottom: 0%;
        font-size: 20px;
        span:nth-child(2){
            color: rgb(170,170,170);
            margin-left: .3rem;
        }
    }
    ul{
        @extend %linear-ul;
        li:not(:last-child){
            padding-right: 1.5rem;
        }
        li:hover{
            color: rgb(170,170,170);
            cursor: pointer;
        }
    }
    @include respond(750px){
        height: 6.2rem;
        .user-name{
            right: 2rem;
            top: 1.2rem;
        }
        .wrapper{
            flex-direction: column;
            justify-content: unset;
            width: 100vw;
            padding: 1.3rem 0rem;
        }
        #nav-ul{
            background: $footer-background;
            width: 100%;
            margin-top: .5rem;
            position: initial;
            ul{
                justify-content: center;
                align-items: center;
                padding: .3rem;
            }
        }
        p{
            margin-top: .5rem;
        }
    }
}