.site-footer{
    width: 100%;
    @extend %centralize;

    background: $footer-background;
    color: $footer-color;

    .wrapper{
        width: 70rem;
        @extend %centralize;
        justify-content: space-between;
        padding: 1.5rem 2.6rem;
        font-size: 2.4rem;
    }

    ul{
        width: auto;
        list-style-type: none;
        // background: green;
    }
    ul:nth-child(3){
        padding: 1rem;
        background: white;
        width: 150px;
        font-weight: bolder;
        border-radius: 4px;
        div{
            @extend %linear-ul;
            align-items: center;
        }
        li{
            font-size: 2.4rem;
            &::before{
                content: "";
            }
        }
        li:not(:last-child){
            margin-right: 2rem;
        }
        p{
            width: 100%;
            color: black;
            font-size: 1rem;
            text-align: justify;
        }
    }
    li{
        padding-left: 0rem;
        font-size: 1.4rem;
        &::before{
            content: "- ";
        }
    }

    #facebook-li {color: #395693}
    #github-li {color: #302F2F}
    #gmail-li {color: #D6493C}

    @include respond(780px){
        .wrapper{
            flex-wrap: wrap;
        }
        ul:nth-child(1){
            width: 55%;
        }
        ul:nth-child(2){
            width: 40%;
        }
        ul:nth-child(3){
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-evenly;
            div{
                justify-content: space-evenly;
            }
            p{
                text-align: center;
            }
            li{
                font-size: 2.5rem;
                &::before{
                    content: "";
                }
            }
        }
    }

    @include respond(578px) {
        .wrapper{
            flex-direction: column;
            align-items: initial;
            flex-wrap: unset;
        }
        ul{
            width: 100% !important;
            padding-top: 1rem;
        }
    }
}